/* .ln-card {
  position: relative;
  width: 350px;
  height: 450px;
  overflow: hidden;
  cursor: pointer;
}

.ln-card img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.6s ease-in-out;
}

/* Default state */
/* .helmet {
  transform: translateY(40px) scale(0.9);
  opacity: 0;
}

/* Hover effect */
/* .ln-card:hover .helmet {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.ln-card:hover .face {
  filter: brightness(0.7);
